* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1580397581145-cdb6a35b7d3f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1330&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

.topnav #mylinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: #d79e2b;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100;
}

.topnav a:hover {
    background-color: #d79e3b;
    color: black;
}

.active {
    background-color: #d79e2b;
    color: white;
}

.post {
    background-color: rgba(245, 245, 245, 0.508);
    color: black;
    margin: .5em;
    padding: .25em;
    border: 2px solid #d79e3b;
}

.post img {
    max-width: 90vw;
    overflow: hidden;
}