* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-body {
    text-align: center;
    width: 50%;
}

img {
    max-width: 10rem;
}

h1  {
    font-size: xx-large;
}

section {border: 1px solid red;}