* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

#top {
    max-height: 0;
}

section {
    min-height: 100vh;
}

#top-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#landing {
    display: flex;
}

#myPhoto {
    max-height: 30vh;
    border-radius: 50% 0% 50% 0%;
    padding-right: 1rem;
}

#logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#logos img {
    max-width: 5rem;
}

#logos img:hover {
    max-width: 6rem;
    transition: 1s;
}

.down-arrow img {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px white;
    max-height: 3rem;
    position: relative;
}

.up-arrow img {
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px white;
    max-height: 3rem;
    transform: rotate(180deg);
}
