* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
}

#myface {
    height: 10rem;
    width: auto;
    filter: drop-shadow(0rem 1rem .3rem rgb(0, 0, 0));
    border-radius: 50%;
}

@keyframes topFadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.row {
    margin-top: 2rem;
    min-height: 100vh;
    animation-name: topFadeOut;
    animation-duration: 3s;
}

#icon-container {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    border: 1px solid red;
}

#icon-container img {
    max-height: fit-content;
}
